[Unit]
Description=Phosphor Power Regulators Disable Monitoring
Wants=obmc-host-stop-pre@0.target
Before=obmc-host-stop-pre@0.target
Conflicts=phosphor-regulators-monitor.service

[Service]
RemainAfterExit=yes
ExecStart=/bin/sh -c "busctl call xyz.openbmc_project.Power.Regulators /xyz/openbmc_project/power/regulators/manager xyz.openbmc_project.Power.Regulators.Manager Monitor b false"

[Install]
WantedBy=obmc-host-stop@0.target
