[Unit]
Description=Phosphor Power Regulators Daemon

[Service]
Type=dbus
BusName=xyz.openbmc_project.Power.Regulators
Restart=on-failure
ExecStart=/usr/bin/phosphor-regulators

[Install]
WantedBy=multi-user.target
