[Unit]
Description=Phosphor Power Supply Monitor
Wants=mapper-wait@-xyz-openbmc_project-inventory-system.service
After=mapper-wait@-xyz-openbmc_project-inventory-system.service
Before=xyz.openbmc_project.State.Chassis.service

[Service]
Restart=on-failure
ExecStart=phosphor-psu-monitor

[Install]
WantedBy=multi-user.target
