[Unit]
Description=Phosphor Power Regulators Enable Monitoring
Wants=obmc-power-on@0.target
After=obmc-power-on@0.target
Conflicts=obmc-chassis-poweroff@0.target

[Service]
RemainAfterExit=yes
ExecStart=/bin/sh -c "busctl call xyz.openbmc_project.Power.Regulators /xyz/openbmc_project/power/regulators/manager xyz.openbmc_project.Power.Regulators.Manager Monitor b true"

[Install]
WantedBy=obmc-chassis-poweron@0.target
