[Unit]
Description=Phosphor Power Supply Monitor
Wants=mapper-wait@-xyz-openbmc_project-inventory-system-chassis-motherboard.service
After=mapper-wait@-xyz-openbmc_project-inventory-system-chassis-motherboard.service

[Service]
Restart=on-failure
ExecStart=phosphor-psu-monitor

[Install]
WantedBy=multi-user.target
