[Unit]
Description=Phosphor Power Regulators Disable Monitoring
Requires=phosphor-regulators.service
After=phosphor-regulators.service
Wants=obmc-power-stop-pre@0.target
Before=obmc-power-stop-pre@0.target
Conflicts=obmc-chassis-poweron@0.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/regsctl monitor --disable

[Install]
WantedBy=obmc-chassis-poweroff@0.target
