[Unit]
Description=Phosphor Power Regulators Enable Monitoring
Requires=phosphor-regulators.service
After=phosphor-regulators.service
Wants=obmc-power-on@0.target
After=obmc-power-on@0.target
Conflicts=obmc-chassis-poweroff@0.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/regsctl monitor --enable

[Install]
#WantedBy=obmc-chassis-poweron@0.target
